html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 90%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #333;
  font-size: 1em;
  padding: 1em 0;
}

h1, h2, h3, h4 {
  line-height: 1.33;
  color: #000;
}

h1 {
  font-size: 1.8em;
}

p {
  margin: 0;
  padding: 0 0 12px;
}

.subtle {
  color: #999;
}

.note {
  background: #FFC;
  font-size: 85%;
  padding: 0.2em;
  color: #858471;
}

.note a {
  color: #5E5D50;
}

.header,
.footer {
  max-width: 800px;
  margin: 1em auto;
}

.slide {
  max-width: 800px;
  margin: 1em auto;
  padding: 1em 0;
  /* Micro clearfix */
  content: " ";
  display: table;
}

.slide-image {
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.2)
}

.slide:before,
.slide:after {
  /* Micro clearfix */
  clear: both;
}

.slide:after {
    clear: both;
}

.slide-image,
.slide-annotations {
  float: left;
}

img {
  max-width: 100%;
  display: block;
  margin-bottom: 0.5em;
}

@media (min-width: 600px) {
  
  html {
    font-size: 105%;
  }

  .slide-image {
    width: 50%;
  }

  .slide-annotations {
    width: 50%;
    padding-left: 20px;
  }

}


@media (min-width: 1000px) {
  
  .header,
  .footer {
    max-width: 900px;
    margin: 1em auto;
  }

  .slide {
    max-width: 900px;
  }

  .slide-image {
    width: 60%;
  }

  .slide-annotations {
    width: 40%;
    padding-left: 20px;
  }

  html {
    font-size: 120%;
  }
}

@media (min-width: 1400px) {
  
  .header,
  .footer {
    max-width: 1300px;
    margin: 1em auto;
  }

  .slide {
    max-width: 1300px;
  }

  html {
    font-size: 120%;
  }
}

.credits {
    text-align: center;
    color: #808080;
    margin: 2em 0;
    font-size: 80%;
}

.credits a {
    color: #808080;
}
