/* Layout for slideshow output
   ========================================================================== */

html, body {
  height: 100%;
}

body {
  padding: 0;
}

img, video {
  max-width: 100%;
}

.slides {
  height: 100%;
}

.slide {
  /* Will be display: flex; */
  flex-direction: column;
}

.slide-image {
  width: 90%;
  margin: 1em auto;
}

.slide-notes {
  width: 90%;
  margin: 1em auto;
  padding-bottom: 50px;
}

.slide-notes:empty {
  display: none;
}

.slide-image img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 800px) {

  .slide-image {
    width: 100%; /* explicit width */
    height: 100%;
  }

  .slide {
    height: 100%;
    align-items: center;
    flex-direction: row;
  }

  .slide-image {
    display: flex;
    align-items: center;
  }

  .js-notes-active .slide {
    padding: 5%;
    justify-content: space-between;
    display: flex;
  }

  .js-notes-active .slide-image {
    width: 58%;
  }

  .js-notes-active .slide-notes {
    width: 38%;
  }
  
}

#slide-pos {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 13px;
}

@media (max-width: 799px) {
  #show-shortcuts,
  #shortcuts {
    display: none;
  }
}

#show-shortcuts {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#shortcuts {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 0 18px;
  border-radius: 6px;
  font-size: 14px;
}

#shortcuts ul {
  padding-left: 20px;
}

@media (min-width: 799px) {
  #explicit-controls {
    display: none;
  }
}

#explicit-controls {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#explicit-controls button {
  border-radius: 3px;
  padding: 10px 20px;
}